<h1>Load Orders</h1>

<p><%= link_to 'Back to Main Page', root_path %></p>
<br>

<table>
<tr>Loading Bay 1</tr>
<tr><%= "Truck: " +  %></tr>
 <tr>
   <th>Product ID</th>
   <th>Category</th>
   <th>Brand</th>
   <th>SKU</th>
   <th>Quantity</th>
   
 </tr>

</table>

<table>
<tr>Loading Bay 2</tr>
 <tr>
   <th>Product ID</th>
   <th>Category</th>
   <th>Brand</th>
   <th>SKU</th>
   <th>Quantity</th>
   
 </tr>
 
</table>

<table>
<tr>Loading Bay 3</tr>
 <tr>
   <th>Product ID</th>
   <th>Category</th>
   <th>Brand</th>
   <th>SKU</th>
   <th>Quantity</th>
   
 </tr>

</table>

<table>
<tr>Loading Bay 4</tr>
 <tr>
   <th>Product ID</th>
   <th>Category</th>
   <th>Brand</th>
   <th>SKU</th>
   <th>Quantity</th>
   
 </tr>
    
</table>